@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap');

:root {
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-mainBack: #f1f5f8;
  --clr-mainBack2: #f8f9fa;
  --clr-darkmode1: #181818;
  --clr-darkmode2: #282c35;
  --clr-dark1: #15202B;
  --clr-dark2: #192734;
  --clr-dark3: #343a40;
  --clr-warning: #ffc107;
  --clr-info: #17a2b8;
  --clr-gold: #c59d5f;
  --clr-blue: #007bff;
  --clr-red: #dc3545;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green: #28a745;
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --headingFont: 'Roboto Condensed', Sans-Serif;
  --bodyFont: 'Cabin', Sans-Serif;
  --clr-title: var(--clr-grey-2);
  --clr-label: var(--clr-grey-5);
  --clr-input: #222;
  --bg-input: #fff;
  --clr-error: var(--clr-red-dark);
  --bg-icon: var(--clr-mainBack);
}
.primary-variations {
  --clr-primary-50: #eff6ff;
  --clr-primary-1: #dbeafe;
  --clr-primary-2: #bfdbfe;
  --clr-primary-3: #93c5fd;
  --clr-primary-4: #60a5fa;
  --clr-primary-5: #3b82f6;
  --clr-primary-6: #2563eb;
  --clr-primary-7: #1d4ed8;
  --clr-primary-8: #1e40af;
  --clr-primary-9: #1e3a8a;
}
.dark-mode {
  --clr-mainBack: var(--clr-darkmode2);
  --clr-title: var(--clr-primary-6);
  --clr-label: var(--clr-grey-8);
  --clr-input: var(--clr-grey-8);
  --bg-input: var(--clr-dark3);
  --clr-error: var(--clr-red-light);
  --bg-icon: var(--clr-primary-6);
}
/**/
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
  'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: var(--clr-black);
  background-color: var(--clr-mainBack);
  font-family: var(--bodyFont);
}

main {
  padding: 32px 0;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 414px;
}

.img {
  width: 100%;
  object-fit: cover;
}

.title-col {
  color: var(--clr-title);
}

label {
  display: block;
  letter-spacing: 1.5px;
  color: var(--clr-label);
  font-size: 15px;
  margin-bottom: 8px;
  transition: font-size .2s linear;
}
input {
  display: block;
  width: 100%;
  color: var(--clr-input);
  background-color: var(--bg-input);
  border: 1px solid var(--clr-input);
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 15px;
  font-family: var(--bodyFont);
  letter-spacing: 1px;
}
.error {
  color: var(--clr-error);
  letter-spacing: .5px;
  margin-top: 8px;
  font-size: 14px;
}

.card {
  background-color: var(--bg-input);
  box-shadow: var(--dark-shadow);
  border-radius: 8px;
  transition: box-shadow .2s ease-in-out;
}
.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.img-div {
  background-color: var(--clr-mainBack);
  border-radius: 8px;
}
.img-div img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 340px;
}

.icon-div {
  background-color: var(--bg-icon);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -50px;
  position: relative;
  z-index: 1;
}

.info {
  padding: 16px;
  font-family: var(--headingFont);
  color: var(--clr-input);
}
.country {
  letter-spacing: .5px;
}
.condition {
  font-size: 18px;
  letter-spacing: 1.5px;
  margin-bottom: 12px;
  color: var(--clr-title);
  transition: font-size .2s linear;
}
.degrees {
  font-size: 40px;
  font-family: var(--headingFont);
  color: var(--clr-title);
  transition: font-size .2s linear;
}

.Toastify__toast {
  text-align: center;
  text-transform: capitalize;
}

@media (max-width: 575px){
  label {
    font-size: 14px;
  }
  .icon-div {
    width: 80px;
    height: 80px;
  }
  .condition {
    font-size: 16px;
  }
  .degrees {
    font-size: 36px;
  }
}